<div class="dashboard pe-3">
  <!-- Sidebar -->
  <aside class="sidebar x-lg-radius pe-3 px-3 bg-gray">
    <div class="logo bg-gray">Paramètres de l'utilisateur</div>
    <nav class="menu">
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-calendar-alt"></i> Informations personnelles</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-user-graduate"></i> Students</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-calendar-check"></i> Schedule</a>
       <!-- <a routerLink="faculty" routerLinkActive="active" class="text-secondary pt-2 px-1"><i class="fas fa-book"></i>Faculty</a> -->
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-wallet"></i>Rooms</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-bullhorn"></i> Notice</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-envelope"></i> Message</a>
    </nav>
    <div class="other menu">
      <p class="text-secondary mt-3 font-impact pt-4 px-1">OTHER</p>
      <a class="text-secondary pt-2 px-1"><i class="fas fa-user"></i> Profile</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-cog"></i> Setting</a>
        <button type="button" class="btn btn-outline-danger w-100" (click)="logout()">
    <i class="fa-solid fa-right-from-bracket me-1"></i> Se déconnecter
  </button>

    </div>
    <div class="app-banner lg-radius mt-4 pt-4">
     <div class="align-items-center">
    <p >Let’s Manage<br>Your Data Better<br>in Your Hand</p>
    <!-- <button class="btn-download bg-white mt-4 mb-4 align-items-center">Download the App</button> -->
  </div>
</div>
  <footer class="sidebar-footer">
      <p>&copy; 2026 Tasky</p>
    </footer>
 </aside>


    <div>
  
 </div>
   
</div>
