<div class="dashboard pe-3">
  <!-- Sidebar -->
  <aside class="sidebar x-lg-radius pe-3 px-3 bg-gray">
    <div class="logo bg-gray">Paramètres de l'utilisateur</div>
    <nav class="menu">
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-calendar-alt"></i> Informations personnelles</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-chalkboard-teacher"></i> Cartes</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-user-graduate"></i> Membres actifs</a>
      <a click="goToBilling()" class="text-secondary pt-2 px-1"><i class="fas fa-calendar-check"></i> Facturation</a>
    </nav>
    <div class="other menu">
      <p class="text-secondary mt-3 font-impact pt-4 px-1">OTHER</p>
      <a class="text-secondary pt-2 px-1"><i class="fas fa-user"></i> Profile</a>
      <a  class="text-secondary pt-2 px-1"><i class="fas fa-cog"></i> Setting</a>
      
      <a click="logout()" class="text-secondary pt-2 px-1"><i class="fas fa-sign-out-alt"></i> Logout</a>

    </div>
    <div class="app-banner lg-radius mt-4 pt-4">
     <div class="align-items-center">
    <p >Let’s Manage<br>Your Data Better<br>in Your Hand</p>
    <!-- <button class="btn-download bg-white mt-4 mb-4 align-items-center">Download the App</button> -->
  </div>
</div>
  <footer class="sidebar-footer">
      <p>&copy; 2026 Tasky</p>
    </footer>
 </aside>


    <div>
  
 </div>
   
</div>
