<div class="card">
  <div class="card-body border border-2 border-primary rounded-3">
    <h5 class="card-title">Listes des tâches à faire</h5>
    <p class="card-text">Voici la liste de vos tâches à accomplir.</p>

    <div cdkDropListGroup class="d-flex gap-3">
      <div class="example-container flex-fill">
        <h2>To do</h2>
        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
          @for (task of todo; track task._id) {
            <div class="example-box d-flex justify-content-between align-items-center" cdkDrag>
              <span>{{ task.title }}</span>
              <button class="btn btn-sm btn-danger" (click)="deleteTask(task._id, todo)">Supprimer</button>
            </div>
          }
        </div>
      </div>

      <div class="example-container flex-fill">
        <h2>Done</h2>
        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
          @for (task of done; track task._id) {
            <div class="example-box d-flex justify-content-between align-items-center" cdkDrag>
              <span>{{ task.title }}</span>
              <button class="btn btn-sm btn-danger" (click)="deleteTask(task._id, done)">Supprimer</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>